* {
    box-sizing: border-box;
}

body {
    background-color: coral;
    display: grid;
}

h3 {
    // font-family: 'Courier New', Courier, monospace;
    font-size: 100em;
}


@import 'button';
@import 'pulse';
@import 'textAnim';
